# CUDA 12.1에 맞는 PyTorch 설치
--index-url https://download.pytorch.org/whl/cu121
torch==2.2.2+cu121
torchvision==0.17.2+cu121

# 기타 패키지
numpy
tqdm
transformers==4.51.3  # https://github.com/huggingface/transformers/issues/38494#issuecomment-2937853519
datasets
accelerate
bitsandbytes
